* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Open Sans";
}

nav {
    background-color: #4d636f;
    color: white;
}

.menu-container {
    display: flex;
    justify-content: flex-start;
}

.menu-container a {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
}

.logo {
    margin-right: 16px;
}

.logo-box {
    background-color: #3a4b53;
}

.num-noti {
    display: inline-block;
    padding: 0px 8px;
    background-color: #4CAF50;
    border-radius: 50%;
    font-size: 12px;
    /* margin-bottom: 4px; */
    overflow: hidden;
}

.avatar-container {
    padding: 12px 24px;
}

.avatar-container img {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo-box:hover {
    background-color: #ccc;
    color: black;
}

.nav-item:hover {
    background-color: #fff;
    color: black;
}

.noti:hover {
    background-color: #ccc;
}

.dropdown-items-container a {
    background-color: white;
    color: black;
    display: block;
    padding: 8px 16px;
}

.dropdown-container {
    position: relative;
}

.dropdown-items-container {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    position: absolute;
    width: 300px;
    display: none;
}

.dropdown-container:hover .dropdown-items-container {
    display: block;
}

.dropdown-container:hover {
    background-color: #ccc;
    color: black;
}

.dropdown-container:hover .num-noti {
    color: white;
}

.dropdown-items-container a:hover {
    background-color: #ccc;
}

.avatar-container:hover {
    background-color: white;
}

.my-profile-container {
    margin-top: 29px;
    padding: 0px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
}

.my-profile-container h4 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.my-profile-img {
    display: flex;
    justify-content: center;
}

.my-profile-img img {
    border-radius: 50%;
    margin: 15px 0px;
    width: 106px;
    height: 106px;
}

.my-profile-info span {
    margin-right: 16px;
    color: #607d8b;
}

.my-profile-info p {
    margin: 15px 0px;
}

.more-info-container {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.info-title {
    padding: 8px 16px;
    background-color: #7d97a5;
    color: white;
}

.info-container span {
    margin-right: 16px;
}

.info-title:hover {
    color: black;
    background-color: #ccc !important;
}

.detail-info {
    padding: 0px 16px;
    background-color: white;
    color: black;
    display:none;
}

.detail-info p {
    margin: 15px 0px;
}

.more-info-container {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.gallery-container {
    padding: 0px 32px;
    padding-top: 20px;
    display: none;
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 16px;
    /* row-gap: 16px; */
}

.gallery-container img {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
    height: auto;
}

.interest-container {
    padding: 0px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.interest-header {
    margin: 15px 0px;
}

.add-interest-detail {
    margin: 15px 0px;
}

.news {
    display: inline-block;
    padding: 0px 8px;
    font-size: 12px;
    background-color: #303e45;
    color: white;
}

.school, .labels, .game-1, .game-2, .friend-1, .friend-2, .food, .design, .art, .photo{
    display: inline-block;
    padding: 0px 8px;
    font-size: 12px;
    color: white;
}

.school {
    background-color: #3a4b53;
}

.labels {
    background-color: #435761;
}

.game-1 {
    background-color: #4d636f;
}

.friend-1 {
    background-color: #57707d;
}

.game-2 {
    background-color: #607d8b;
}

.friend-2 {
    background-color: #7d97a5;
}

.food {
    background-color: #9eb1bb;
    color: black;
}

.design {
    background-color: #becbd2;
    color: black;
}

.art {
    background-color: #dfe5e8;
    color: black;
}

.photo {
    background-color: #f5f7f8;
    color: black;
}

.alert-box-container {
    padding: 0px 16px;
    margin-bottom: 16px;
    background-color: #dfe5e8;
    border: 1px solid #ccc;
    position: relative;
}

.alert-box-header {
    margin: 15px 0px;
    font-weight: bold;
}

.alert-content {
    margin: 15px 0px;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #becbd2;
    border: none;
}

.close-button:hover {
    background-color: #ccc;
}

.status-writing-container {
    padding: 8px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.status-writing-header {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
    opacity: 0.6;
}

.status-writing-container input {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #ccc;
    margin: 15px 0px;
}

.status-writing-container button {
    background-color: #607d8b;
    color: white;
    padding: 8px 16px;
    border: none;
}

.status-writing-container button:hover {
    color: black;
    background-color: #ccc;
}

.post-button span {
    margin-right: 8px;
}

.posts-container {
    padding: 0px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
    margin-bottom: 16px;
}

.users-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.users-info {
    display: flex;
    align-items: center;
}

.users-container img {
    border-radius: 50%;
    width: 60px;
    height: auto;
    margin-right: 16px;
}

.posts-container hr {
    margin: 20px 0px;
    border-top: 1px solid #eee;
}

.users-info h4 {
    font-size: 20px;
    font-weight: 400;
}

.users-container p {
    opacity: 0.6;
}

.status-content p {
    margin: 15px 0px;
}

.image-container {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.image-container img {
    display: block;
    flex: 1 1 0px;
    width: 0px;
}

.like-cmt-button {
    padding: 8px 16px;
    color: white;
    background-color: #57707d;
    border: none;
    margin-bottom: 16px;
}

.like-cmt-button:hover {
    color: black;
    background-color: #ccc;
}

.upcoming-event-container {
    padding: 0px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
}

.upcomming-title {
    margin: 15px 0px;
    text-align: center;
}
.upcoming-event-container img {
    width: 100%;
    height: auto;
}

.event-name {
    font-weight: bold;
    margin: 16px 0px;
    text-align: center;
}

.date-hour {
    margin: 16px 0px;
    text-align: center;
}

.info-button {
    display: block;
    padding: 8px 16px;
    background-color: #dfe5e8;
    border: none;
    margin: 16px 0px;
    width: 100%;
    text-align: center;
}

.info-button:hover {
    background-color: #ccc;
}

.friend-request-container {
    padding: 0px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
}

.request-title {
    margin: 16px 0px;
    text-align: center;
}

.request-info {
    text-align: center; 
}

.request-info img {
    width: 50%;
    height: auto;
    /* text-align: center; */
}

.add-rej-container {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin: 16px 0px;
    opacity: 0.6;
    display: flex;
}

.accept-button, .reject-button {
    display: inline-block;
    padding: 8px 16px;
    /* background-color: #4CAF50; */
    color: white;
    border: none;
}

.accept-button:hover, .reject-button:hover {
    color: black;
    background-color: #ccc;
}

.accept-button {
    background-color: #4CAF50;
    width: 0px;
    flex: 1 1 0px;
}

.reject-button {
    background-color: #f44336;
    width: 0px;
    flex: 1 1 0px;
}

.ad-container {
    padding: 16px 0px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.ad-container p {
    margin: 16px 0px;
}

.bug-container {
    padding: 32px 0px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.bug-container span {
    display: inline-block;
    margin: 15px 0px;
    font-size: 36px;
}

article {
    display: flex;
    align-items: start;
    gap: 16px;
    padding: 0px 16px;
}

.left-column {
    width: 25%;
}

.center-column {
    width: 59%;
}

.right-column {
    width: 16%;
}

.my-profile-container {
    margin-bottom: 20px;
}

.more-info-container {
    margin-bottom: 20px;
    align-self: start;
}

.interest-container {
    margin-bottom: 20px;
    align-self: start;
}

.status-writing-container {
    margin-top: 29px;
    margin-bottom: 16px;
}

.posts-container {
    margin-bottom: 16px;
}

.upcoming-event-container {
    margin-top: 29px;
    margin-bottom: 20px;
}

.friend-request-container {
    margin-bottom: 20px;
}

.ad-container {
    margin-bottom: 20px;
}

.footer {
    padding: 16px 16px;
    background-color: #435761;
}

.footer h5 {
    margin: 10px 0px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.author-of-project {
    padding: 0px 16px;
    color: white;
    background-color: #303e45;
    overflow: hidden;
}

.author-of-project p {
    margin: 15px 0px;
}

.author-of-project p em {
    text-decoration: underline;
}